{% extends 'portafolio/base.html' %}

{% block content %}
    <div class="titulo">
        <h2>Contacto</h2>
        <a href="{% url 'crear_contacto' %}" class="btn-agregar">Crear Contacto</a>
    </div>
    <div class="contenedor">
        <div class="habilidades">
            <ul>
                {% for cnt in contacto %}
                    <li>Tel. {{ cnt.telefono }} | Correo: {{cnt.correo}}
                        {% if user.is_authenticated %}
                            <a href="{% url 'delete_contacto' cnt.pk %}" class="btn-eliminar">Eliminar</a> 
                            <a href="{% url 'editar_contacto' cnt.pk %}" class="btn-editar">Editar</a>
                        {% endif %}  
                    </li>                     
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}