{% extends 'portafolio/base.html' %}

{% block content %}
    <div class="titulo">
        <h2>Habilidades</h2>
        {% if user.is_authenticated %}
            <a href="{% url 'crear_habilidad' %}" class="btn-agregar">Crear Habilidad</a>
        {% endif %}
    </div>
    <div class="contenedor">
        <div class="habilidades">
            <ul>
                {% for hab in habilidades %}
                    <li>{{ hab.nombre }}
                        {% if user.is_authenticated %}
                            <a href="{% url 'delete_habilidad' hab.pk %}" class="btn-eliminar">Eliminar</a> 
                            <a href="{% url 'editar_habilidad' hab.pk %}" class="btn-editar">Editar</a>
                        {% endif %}                          
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}