{% extends 'portafolio/base.html' %}

{% block content %}
    <section class="home">
        <div class="home-content">
            <h1>Hi, I'm Benjamin Carias</h1>
            <h3>Web Developer</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet perspiciatis quasi fugit libero aut
                hic, iusto asperiores aperiam tenetur unde corrupti omnis cumque id assumenda</p>
            <div class="btn-box">
                <a href="#">Download CV</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </section>

    <section class="section-habilidades">
        <h2 class="titulo-habilidades">Habilidades</h2>
    </section>
    
    <section id="Aptitudes" class="section-aptitudes">
        <h2 class="titulo-aptitudes">Aptitudes</h2>
    </section>

    <section class="section-habilidades">
        <h2 class="titulo-aptitudes">Certificaciones</h2>
    </section>
{% endblock %}